* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 962px;
  height: 962px;
  justify-content: center;
}

.container > div {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  flex-shrink: 0;
}

.container > div:nth-child(16n + 1) {
  width: 100%;
  height: 0;
  border: 0;
}

button {
  margin-top: 50px;
}
